<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    <font color="red"> Не указано </font>
  <% end %>
</p>

<p>
  <% if @train.route.present? %>
    <strong>Поезду назначен маршрут:</strong> 
    <%= @train.route.title %>
  <% else %>
    <font color="red"> Маршрут не назначен! </font>
  <% end %>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
