<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<% if @train.route != nil %>
  <p> Поезду назначен маршрут: </p>
  <ul>
    <li>
      <%= @train.route.title %>
    </li>
  </ul>
  
<% else %>
  <p> 
    <font color="red"> Маршрут не назначен! </font>
  </p>
<% end %>


<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
