<h1>ПОЕЗД</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    <font color="red"> Не указано </font>
  <% end %>
</p>

<p>
  <% if @train.route.present? %>
    <strong>Поезду назначен маршрут:</strong> 
    <%= @train.route.title %>
  <% else %>
    <font color="red"> Маршрут не назначен! </font>
  <% end %>
</p>

<% if @train.vagons.empty? %>
<p> 
  <font color="red"> Нет ни одного вагона! </font>
</p>
<% else %>
  <p> Список вагонов поезда: </p>
  <%@train.vagons.each do |v|  %>
    <ul>
      <li>
        <%= link_to v.number, vagon_path(v)%>
      </li>
    </ul>
  <% end %>
  <h2> Информация о вагонах: </h2>
  <p> Плацкартных вагонов: 
  <%=@train.count_vagons('плацкартный')%></p>
  Кол-во мест: верх/нижн.
  <%=@train.count_hi_places('плацкартный')%> / <%=@train.count_low_places('плацкартный')%>
  <p> Купейных вагонов: 
  <%=@train.count_vagons('купейный')%> </p>
  <p>Кол-во мест: верх/нижн.
  <%=@train.count_hi_places('купейный')%> / <%=@train.count_low_places('купейный')%></p>
<% end %>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
