<%= form_for [@train, @vagon.becomes(Vagon)] do |form| %>
  
  <%= render 'common/errors', resource: vagon %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :vagon_number %>
  </div>

  <div class="field">
    <%= form.label :type , 'Тип Вагона:'%>
    <%= form.collection_select :type, Vagon::V_TYPES, :first.to_s ,:last %>
  </div>

  <div class="field">
    <%= form.label :num_low_places , 'Кол-во нижних мест:'%>
    <%= form.number_field :num_low_places %>
  </div>
   
  <div class="field">
    <%= form.label :num_hi_places , 'Кол-во верхних мест:'%>
    <%= form.number_field :num_hi_places %>
  </div>

  <div class="field">
    <%= form.label :side_low_places , 'Нижних боковых мест:'%>
    <%= form.number_field :side_low_places %>
  </div>

  <div class="field">
    <%= form.label :side_hi_places , 'Верхних боковых мест:'%>
    <%= form.number_field :side_hi_places %>
  </div>

  <div class="field">
    <%= form.label :seat_places , 'Сидячих мест:'%>
    <%= form.number_field :seat_places %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>