<tr>
  <td><%= vagon.number %></td>
  <td><%= vagon.class.name %></td>
  <td><%= link_to 'Показать', vagon %></td>
  <td><%= link_to 'Редактировать', edit_vagon_path(vagon) %></td>
  <td><%= link_to 'Удалить', vagon, method: :delete, data: { confirm: 'Точно удалить?' } %></td>
</tr>