<h1>ВАГОН</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @vagon.number %>
</p>

<p>
  <% if @vagon.type.present? %>
    <strong>Тип вагона:</strong> 
    <%= @vagon.get_v_type %>
  <% else %>
    <font color="red"> Тип вагона не выбран! </font>
  <% end %>
</p>

<p>
  <% if @vagon.train.present? %>
    <strong>Вагон принадлежит Поезду:</strong> 
    <%= @vagon.train.number %>
    <%= @vagon.train.route.title %>
  <% else %>
    <font color="red"> Поезд не назначен! </font>
  <% end %>
</p>

<% if @vagon.type == 'EconomyVagon' || @vagon.type == 'CoupeVagon' %>
  <p>
   <strong>Верхних мест:</strong> 
   <%= @vagon.num_hi_places %>
  </p>
<% end %>
 
<% unless @vagon.type == 'SeatVagon' %>
  <p>
   <strong>Нижних мест:</strong> 
   <%= @vagon.num_low_places %>
  </p>
<% else %>  
  <p>
   <strong>Сидячих мест:</strong> 
   <%= @vagon.seat_places %>
  </p>
<% end %>  

<% %>    

<% if @vagon.type == 'EconomyVagon' %>
  <p>
   <strong>Боковых нижних мест:</strong> 
   <%= @vagon.side_low_places %>
  </p>

  <p>
   <strong>Боковых верхних мест:</strong> 
   <%= @vagon.side_hi_places %>
  </p>
<% end %>


<%= link_to 'Редактировать', edit_vagon_path(@vagon) %> |
<%= link_to 'Назад', vagons_path %>
