<h1>Поиск билетов</h1>

<h3> Заданные станции: </h3>

<p> <%= @start_station.title %> </p>
<p> <%= @end_station.title %> </p>

<h3> Принадлежат маршрутам: </h3>

<ul> 
  <% @routes.each do |r| %>
    <li> <%= r.title %> </li>
  <% end %>
</ul>

<h3> По которым следуют поезда: </h3>

<table>
  <thead>
    <td><strong>Поезд</strong> </td>
    <td><strong>Маршрут</strong> </td>
    <td><strong>Отпр. со ст. <%= @start_station.title%></strong> </td>
    <td><strong>Приб. на ст. <%= @end_station.title%></strong> </td>
  </thead>
  <tbody>
    <% @trains.each do |t| %>
    <tr>
      <td> <%= t.number %> </td>
      <td> <%= t.route.title%> </td>
      <td> <%= @start_station.departure_in(t.route) %> </td>
      <td> <%= @end_station.arrive_in(t.route) %> </td>
    </tr>
  <% end %>

  </tbody>
</table>
<ul> 
  
</ul>

<%= link_to 'На главную...', welcome_index_path %>