<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.title %>
</p>

<% if @route.trains.empty? %>
<p> 
  <font color="red"> Поездов на маршруте нет! </font>
</p>
<% else %>
  <p> Поезда на этом маршруте: </p>
  <%@route.trains.each do |t|  %>
    <ul>
      <li>
        <%= t.number %>
      </li>
    </ul>
  <% end %>
<% end %>

<% if @route.railway_stations.empty? %>
<p> 
  <font color="red"> Станций в маршруте пока нет! </font>
</p>
<% else %>
  <p> Список станций маршрута: </p>
  <table>
    <thead>
      <td width="100px"><strong>Название</strong> </td>
      <td><strong>Позиция</strong> </td>
      <td><strong>Отправление</strong> </td>
    </thead>
    <tbody>
      <%@route.railway_stations.ordered.each do |r| %>
      <tr>
        <td><%= r.title %></td>
        <td>
          <%= form_tag update_position_railway_station_path(r), method: :patch do %>
            <%= number_field_tag :position, r.position_in(@route) %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag 'Изменить' %>
          <% end %>
        </td>
        <td>
          <%= form_tag update_departure_railway_station_path(r), method: :patch do %>
            <%= time_field_tag   :departure, r.departure_in(@route).to_s%>
            <%= r.departure_in(@route) %>
            <%= hidden_field_tag :route_id,  @route.id %>
            <%= submit_tag 'Обновить' %>
          <% end %>
        </td>
        <td>
          <%= form_tag update_arrive_railway_station_path(r), method: :patch do %>
            <%= time_field_tag   :arrive, r.arrive_in(@route).to_s%>
            <%= r.arrive_in(@route) %>
            <%= hidden_field_tag :route_id,  @route.id %>
            <%= submit_tag 'Обновить' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>  
  </table>
  
  
<% end %>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
